body {
  font-family: sans-serif;
  background: #FAFAFA;
  padding: 0;
  margin: 0;
  font-size: 12pt;
}

.column {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

@media(max-width: 600px) {
  .column {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    padding-top: 12px;
  }
  .column .entry {
    border: 0;
  }
}

.hidden {
  display: none;
}


.tag.is-dot {
  margin-top: 3px;
  width: 18px;
  height: 18px;
  border-radius: 9px;
}


/**
 * Side Menu
 */

#side-menu {
  background: #333;
  width: 240px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -240px;
  bottom: 0;
  z-index: 1;
  overflow-y: scroll;
}
#side-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 70px;
  margin-bottom: 70px;
}
#side-menu li {
  transition: all 0.2s ease-in-out;
  border-bottom: 1px #444 solid;
}
#side-menu li a {
  color: white;
  display: block;
  padding: 1em 1em;
  text-decoration: none;
}
#side-menu li:hover {
  background: #555;
  border-color: #666;
}
#side-menu li.selected {
  background: #444;
}
#side-menu li.selected:hover {
  background: #666;
  border-color: #777;
}
#side-menu .tag {
  float: right;
}
#side-menu li.logout a {
  padding: 0.75em 1em;
  color: #aaa;
}

#main-top {
  z-index: 2;
  background: white;
  border-bottom: 1px #e6e6e6 solid;
  position: fixed;
  width: 100vw;
  padding: .75rem;
  display: flex;
  justify-content: space-between;
}

#main-top h2.title {
  position: relative;
  padding-left: 45px;
  margin-bottom: 0;
}
#main-top h2.title .back {
  font-size: 12pt;
  position: absolute;
  right: 0;
  top: 12px;
}

#main-container {
  padding-top: 60px;
  padding-bottom: 50px;
}

h3.source-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 9px;
}

#main-bottom {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background: white;
  padding: 6px 16px;
  border-top: 1px #e6e6e6 solid;
}

#main-bottom .new-post-button {
  float: left;
  font-size: 36px;
  line-height: 0;
  padding-top: 8px;
  margin-left: 6px;
}

#main-bottom .dropdown {
  float: right;
}
#main-bottom .dropdown-trigger button {
  float: right;
  margin-right: 6px;
}
#main-bottom .dropdown-trigger .dropdown-item {
  padding: 0;
}
#main-bottom .dropdown-item.selected {
  background: #ffffdd;
}


@media(min-width: 800px) {
  #main-container {
    margin-left: 240px;
  }
  #main-bottom {
    left: 240px;
  }
  #main-top h2.title {
    margin-left: 200px;
  }
  main {
    padding-left: 240px;
  }
  #side-menu {
    left: 0;
    z-index: 2;
  }
  #nav-trigger, #nav-trigger-label {
    display: none;
  }
}


.destination-card img,
#main-bottom .dropdown-trigger .selected-destination img,
#new-post-modal .modal-card-title img {
  width: 40px;
  border-radius: 20px;
  border: 1px #e6e6e6 solid;
  vertical-align: middle;
  margin-right: 4px;
}
.destination-card .name {
  font-size: 12pt;
  line-height: 1.2;
  display: inline-block;
  vertical-align: middle;
}

/* match a.dropdown-item:hover so it can be triggered via js */
a.dropdown-item.hover {
  background-color: whitesmoke;
  color: #0a0a0a;
}


.nav-trigger {
  position: absolute;
  clip: rect(0,0,0,0);
}
label[for="nav-trigger"] {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 2;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain;
}
label[for="nav-trigger"]:hover {
  opacity: 0.6;
}

/*.nav-trigger:checked + label {
   left: 255px; 
}*/

.nav-trigger:checked ~ main {
  left: 240px;
  right: -240px;
}

.nav-trigger:checked ~ #side-menu {
  left: 0;
}

main, label[for="nav-trigger"], #side-menu {
  transition: all 0.2s;
}

.xray-emoji, .xray-custom-emoji {
    height: 1em;
}

.title-combo .button {
  height: auto;
  border: none;
  font-size: 2rem;
  padding: 0;
  line-height: 1;
}
.title-combo .button .icon:first-child:last-child {
  margin-left: 0.5rem;
  font-size: 1.3rem;
}
#main-top>div.dropdown {
  margin-right: 1rem;
}